@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.transkript {
  .ixtisas {
    .titlediv {
      width: 20%;
      p {
        margin: 3px;
        font-size: 12px;
      }
    }
    .descripdiv {
      p {
        margin: 3px;
        font-size: 12px;
      }
      width: 80%;
    }
  }
}

.table {
  border: 1px solid #666;
  border-bottom: 0;
  border-radius: 5px;
  h6 {
    text-align: center;
  }
  table {
    border-collapse: collapse;
    text-align: center;
    thead {
      tr {
        th {
          padding: 5px;
          background-color: darkslategray;
          color: #e4e4e4;
        }
      }
    }
    tbody {
      .rowth {
        background-color: rgb(75, 122, 75);
        th {
          border-right: 1px solid #666;
          transform: rotate(270deg);
          width: 100px;
          font-weight: 500;
        }
      }
      tr {
        &:hover {
          td {
            background-color: #e4e4e4;
          }
        }
        td {
          padding: 8px;
        }
      }
    }

    tfoot {
      .umumi {
        background-color: #f3f1f1 !important;
        td {
          border: 1px solid #666;
          text-align: center;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .memarliq {
    font-size: 12px;
  }
  .akademik {
    font-size: 10px;
  }
  .transkript {
    .ixtisas {
      .titlediv {
        width: 25%;
        p {
          font-size: 10px;
        }
      }
      .descripdiv {
        p {
          font-size: 10px;
        }
        width: 75%;
      }
    }
  }
  .table {
    h6{
      font-size: 10px;
    }
    table{
      thead {
        tr {
          th {
            font-size: 11px;
          }
        }
      }
      tbody {
        .rowth{
          th{
            font-size: 11px;
            width: 50px;
          }
        }
        tr {
          td {
            font-size: 10px;
          }
        }
      }
      tfoot{
        tr{
          td{
            font-size: 10px;
          }
        }
      }
    }
   
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .transkript {
    .ixtisas {
      .titlediv {
        width: 25%;
        p {
          font-size: 10px;
        }
      }
      .descripdiv {
        p {
          font-size: 10px;
        }
        width: 65%;
      }
    }
  }
  .table {
    h6{
      font-size: 10px;
    }
    table{
      thead {
        tr {
          th {
            font-size: 11px;
          }
        }
      }
      tbody {
        .rowth{
          th{
            font-size: 11px;
            width: 50px;
          }
        }
        tr {
          td {
            font-size: 10px;
          }
        }
      }
      tfoot{
        tr{
          td{
            font-size: 10px;
          }
        }
      }
    }
   
  }
}


